

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,600&family=Roboto&family=Titillium+Web:wght@900&display=swap');

* {
box-sizing: border-box; 
}
.wrapper {
  width: 100%;
  height: auto;
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  justify-content: center;
  background-color:rgb(241, 234, 234); 
  font-family:'Titillium Web', sans-serif;
  font-weight: 900;
  overflow: hidden;
 }
  
 .title {
 font-size: 3em;
 color: rgb(104, 98, 98); 
 border-bottom: 3px solid rgba(0, 0, 0, 0.486);
 }
 
 .section-item {
   opacity: 0;
   
 }
 .section-item_snap {
  display: block;
 }
 
 .section-item_content{
  width: 85vw;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0.486);
 }
 
 .section-item_text{
  font-size: 2.5rem;
  color: rgb(73, 173, 216);
  
 }
 
 .item-icon_plus{
  width: 2rem;
  opacity:0;
  visibility: visible;
  transition: opacity 0.3s,visibility 0.3s, transform 0.3s;
   
   
 }
 .section-item_img {
   max-width: 30vw;
   width: 100%;
   padding: 20px;
   display: block;
   margin: 0 auto;
   display: none;
 }
 
 @media (max-width: 820px){
   .section-item_text{
     font-size: 2.0rem;  
   }
   .title{
     font-size: 2.5rem;
   }
 }
 
 @media (max-width: 600px){
   .section-item_text{
     font-size: 1.0rem;  
   }
   .title{
     font-size: 1.5rem;
   }
 }
 .section-item:checked ~ .section-item_content >.section-item_text{
   color: rgb(100, 106, 106);
 }
 
 .section-item:checked ~.section-item_img {
  display: block;  
   
 }
 
 .section-item:checked ~ .section-item_content >.item-icon_plus{
   transform: rotate(45deg);
   
 }
 .wrapper:hover .item-icon_plus {
   opacity: 1; 
 }
 
  .wrapper:hover .section-item_text {
   color:rgb(100, 106, 106); 
 }
 
 .section-item_img:hover{
   transform:scale(1.1,1.1);
 }